@keyframes fadeInHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* Clase base para las secciones */
.section {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}

.section.fadeIn {
  animation: fadeIn 3s ease-in-out forwards;
}

.section.slideInLeft {
  animation: slideInLeft 3s ease-in-out forwards;
}

.section.slideInRight {
  animation: slideInRight 3s ease-in-out forwards;
}

.section.zoomIn {
  animation: zoomIn 3s ease-in-out forwards;
}

@keyframes intensifyBackground {
  0% {
    background-color: rgba(255, 248, 231, 0);
  }
  100% {
    background-color: rgb(255, 248, 231);
  }
}